body{
    background-color: #212121;
    color: whitesmoke;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
}
h2{
    color: blueviolet;
    font-weight: bold;
}
table{
    width: 100%;
}
th,td{
    border: 1px solid rgb(1, 0, 2);
    padding: 10px;
    border-radius: 3px;
}
th {
    background-color: #857676;
}
p{
    background-color: #857676;
    color: black;
}